<h2 class="col-md-12">Franquicia de LeBron Suplementos</h2>
<div class="col-md-7">
    <h2>Presentación</h2>
    LeBron es una empresa de suplementos líder en el NOA que logra distinguirse de la competencia, principalmente por la calidad e innovación de los productos y servicios dentro del rubro deportivo y fitness. LeBron se conforma como un excelente lugar de trabajo, donde se tiene en cuenta el bienestar y la permanente capacitación del personal para maximizar la atención a su publico
    <h2>Visi&oacute;n</h2>
    Somos pioneros en ofrecer productos innovadores acordes a las necesidades de nuestros clientes. Acompañado con un servicio eficiente logramos establecernos como una de las principales empresas del país en prestar un servicio de distribución ágil y flexible capaz de garantizar un correcto sistema de distribución tanto a clientes e inversores


    <h2>Misión</h2>

    Nos esforzamos por ofrecemos maximizar el retorno a nuestros accionistas y brindar la posibilidad de difundir establecimientos de compra-venta de suplementos e insumos deportivos. Como empresa LeBron Suplementos pretende potenciar la atención a sus clientes, accionistas y proveedores comercializando productos de primera línea y ofrecimiento de servicios de excelencia. Apasionados por
    cubrir las necesidades y contribuir al bien estar de nuestros clientes, trabajamos para potenciar la marca a todo el territorio nacional

    <h2>Historia</h2>

    LeBron Suplementos nació en junio del año 2014 en San Isidro de Lules una localidad ubicada a 20 km de San Miguel de Tucum&aacute;n, Tucum&aacute;n. Con un capital inicial de $1800 y solo algunos clientes provenientes de zonas cercanas. Nuestra marca empezó a crecer gracias a la perseverancia, dedicación y predisposición en atender a las necesidades del publico en ese momento.
    Para ese entonces, LeBron superó las expectativas de ventas lo que nos llevo a instalarnos en la capital de la provincia y debido a la ubicación estratégica junto con una publicidad directa a hacia nuestros clientes, LeBron Suplementos tomó el primer puesto de ventas en muy poco tiempo. Al igual que hoy nos posicionamos como el principal comercio de insumos y suplementos deportivos. Para
    el 2016 logramos expandirnos con mucha fuerza de ventas, llegando a provincias como Salta, Jujuy, Catamarca y Santiago del Estero. La rapidez fue otra característica singular, entregas en menos de 24 hs y en provincias más lejanas en un lapso de dos a tres días. La velocidad en la cotización, empaquetamiento y logística que mantenemos vigente, fue la que posibilitó expandirnos a todo el
    país, sin perder la dedicación de ocuparnos personalmente de cada consumidor.

    En la actualidad LeBron cuenta con tres sucursales ubicadas en puntos estratégicos de la provincia de Tucumán. No obstante, además de encontramos vendiendo a otros países como Uruguay, Bolivia y Paraguay apostamos a iniciar un sistema de franquicias brindando la posibilidad de otros emprendedores puedan sumarse a esta experiencia y crecer económicamente.
    <h2>La franquicia otorgada por LEBRON SUPLEMENTOS ofrece:</h2>
    <ul style="list-style: square;margin-left:18px">
        <li>Uso de la marca y Knox How</li>
        <li>Derecho a las estrategias y procesos para el franquiciado</li>
        <li>Evaluación de los puntos de venta: Incluye exclusividad de la franquicia en el territorio y de comercialización y distribución al franquiciado</li>
        <li>Evaluación inicial de la nueva unidad de negocio: requisitos y personal</li>
        <li>Asistencia pre-apertura y en los primeros días posteriores a la misma</li>
        <li>Envió de Stock y asistencia en el manejo del mismo</li>
        <li>Asistencia en el manejo del local comercial</li>
        <li>Asesoría y supervisión de la instalación en general y los requisitos preestablecidos por la marca</li>
        <li>Disponibilidad de canales para la comunicación entre la unidad de negocio (franquicia) y la unidad central (franquiciante)</li>
        <li>Indicaciones y sugerencias que aseguren la estandarización y coherencia de la franquicia con los parámetros estéticos de la marca</li>
        <li>Capacitación inicial y futuras actividades de entrenamiento del personal perteneciente a la franquicia</li>
        <li>Capacitación inicial y actualización de productos e insumos nuevos</li>
    </ul>
    <h4>!Te esperamos para que abras tu Propio Negocio!</h4>
	<p>&nbsp;</p>
</div>
<div class="col-md-5">
    <h1>&nbsp;</h1>
    <div class="panel panel-info" id="dv-monto-franquicia">
        <div class="panel-heading">
            ARANCEL DE INGRESO<br/> $450.000
        </div>
    </div>
    <?=$contactForm?>
</div>
<style>
    #dv-monto-franquicia .panel-heading {
        background: #0B8CCE;
        font-size: 22px;
        font-weight: 600;
        color: #0b0b0b;
        text-align: center;
    }

    h2 {
        margin-top: 12px;
    }
</style>
<script>
    document.getElementById('body-header').remove();
</script>