<h1>Defensa al Consumidor</h1>
<p>La Ley N&deg; 2.244 establece que las personas f&iacute;sicas o jur&iacute;dicas que
comercialicen, o presten servicios a consumidores y/o usuarios en el &aacute;mbito de la C.A.B.A. y posean p&aacute;gina de internet, deber&aacute;n agregar un enlace con la Direcci&oacute;n General de Defensa y Protecci&oacute;n al Consumidor.</p>
<br/>
<a href="http://www.buenosaires.gob.ar/areas/jef_gabinete/atencion_ciudadana/def_consumidor/consultas_def_con.php" target="_blank">Para consultas y/o denuncias ingrese aqu&iacute;.</a>